#outlook a {
  padding: 0;
}

body {
  width: 100% !important;
  min-width: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

.ExternalClass {
  width: 100%;
  line-height: 100%;
  div,
  font,
  p,
  span,
  td {
    line-height: 100%;
  }
}

#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}

img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
}

center {
  width: 100%;
  min-width: $grid-width;
}

a img {
  border: none;
}

p {
  margin: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  word-break: keep-all;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
  border-collapse: collapse !important;
}

table,
td,
tr {
  padding: 0;
  vertical-align: top;
}

hr {
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  border: none;
}
