// Rhythm
$v-rhythm: 6px;
$h-rhythm: 7px;
// Grid
$grid-width: 574px;
$col: (574px-(14*11))/12;
// Shades
$grey-lighter: #f2f2f2;
$grey-light: #e5e5e5;
$grey: #979797;
$grey-dark: #2d3737;
$grey-darker: #222a2a;
// Brand colours
$ac-white: $grey-lighter;
$ac-black: $grey-dark;
$ac-yellow: #ffde00;
$ac-blue: #00a3e0;
$ac-teal: #00b4bb;
$ac-violet: #87189d;
$ac-magenta: #d41568;
$ac-green: #12b447;
$ac-bluegrey: #607882;
$ac-red: #c23131;
$ac-pricing: #155991;
$ac-offers: #b81125;
// Manufacturer colours
$abarth: #a9122d;
$alfa: #8f0c25;
$bmw: #1c69d4;
$citroen: #dc002e;
$dacia: #003690;
$ds: #a70142;
$fiat: #96172e;
$ford: #43596a;
$hyundai: #3176ba;
$jeep: #ffba00;
$kia: #bb162b;
$mazda: #457b9b;
$merc: #89959d;
$mini: #000000;
$peugeot: #2497c3;
$renault: #fdb515;
$seat: #da0000;
$skoda: #4ba82e;
$smart: #f6bc13;
$toyota: #c03;
$vauxhall: #cb1920;
$volkswagen: #00b1e5;
$volvo: #0053a1;
// State colours
$ac-blue-color: $ac-blue;
$ac-bluegrey-color: $ac-bluegrey;
$success-color: $ac-green;
$info-color: $ac-teal;
$warning-color: #faa51a;
$ac-red-color: $ac-red;
$link-color: #007fb0;
$link-hover: darken($link-color, 15%);
