---
layout: layouts/base
title: Arnold Clark Automobiles
pre_header: See how much you could save at Arnold Clark
footer_reason: You have received this email because you have previously purchased a car from Arnold Clark, used one of our services or signed up to our mailing list on our website.
---

<table class="body" bgcolor="">
  <tr>
    <td class="center" align="center" valign="top">
      <center>

        {% include partials/top-links.html %}

        <table class="container wide">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="wrapper compact last">
                    <table class="twelve columns header">
                      <tr>
                        <td>
                          <img class="header__img" editable="true" width="574" label="Header image" alt="Sample Header" src="http://placehold.it/574x200/00B4BB/ffffff?text=Can%27t%20be%20wider%20than%20574px" />
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table class="container bg-white">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="wrapper last content">
                    <table class="twelve columns">
                      <tr>
                        <td class="text-pad">
                          <multiline label="Heading">
                            <h1>I'm a heading</h1>
                          </multiline>
                          <multiline label="Body copy">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href="https://www.arnoldclark.com">It has survived not only five centuries</a>, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                          </multiline>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table class="container bg-white">
          <tr>
            <td>
              <table class="row">
                <tr>
                  <td class="wrapper">
                    <table class="six columns">
                      <tr>
                        <td class="text-pad-left">
                          <table class="btn btn--cta">
                            <tr>
                              <td>
                                <multiline label="Button">
                                  <a href="https://www.arnoldclark.com">Call to action</a>
                                </multiline>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                  <td class="wrapper deep last">
                    <table class="six columns">
                      <tr>
                        <td class="text-pad-right">
                          <table class="btn">
                            <tr>
                              <td>
                                <multiline label="Button">
                                  <a href="https://www.arnoldclark.com">Call to action</a>
                                </multiline>
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="expander"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        {% include partials/footer.html rental %}
      </center>
    </td>
  </tr>
</table>
