/*
This mixin creates a button modifier class
Usage:
      .btn--custom {
        @include button-variant($color, $background, $border);
      }
*/

@mixin button-variant($color, $background, $border) {
  td {
    background-color: $background;
    border-top: 1px solid $border;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    border-bottom: 1px solid $border;
    color: $color;

    a,
    a:hover,
    a:visited {
      color: $color;
    }
  }

  &:active td,
  &:hover td,
  &:visited td {
    background-color: darken($background, 10%);
    border-color: darken($border, 10%);

    a,
    a:hover,
    a:visited {
      color: $color;
    }
  }
}